/Monitor/Library
/Monitor/Assembly-CSharp.csproj
/Monitor/Monitor.sln
/Monitor/spine-unity.csproj
/Monitor/spine-unity-editor.csproj
/Monitor/obj
/Monitor/Temp
/Console/Temp
/Console/Library
/Console/obj
/Console/Assembly-CSharp.csproj
/Console/Console.sln
/Console/spine-unity.csproj
/Console/spine-unity-editor.csproj
